{:auto-require [[clojure.repl.deps :refer [add-lib]]]
 :bracket-pairs true
 :doc-at-cursor "M-d"
 :eval-form-at-cursor "M-e"
 :history :project
 :inspect "M-i"
 :keybindings dev.keybindings/install
 :middleware [dev.middleware/portal
              ^:optional org.corfield.rephrase.nrepl/wrap-rephrase
              ^:optional cider.nrepl/cider-middleware
              dev.timing/middleware dev.heap/middleware]
 :paredit/barf-forward "M-,"
 :paredit/join "M-j"
 :paredit/kill "M-k"
 :paredit/move-to-prev "M-b"
 :paredit/raise "M-r"
 :paredit/slurp-forward "M-."
 :paredit/slurp-forward-fully "M-/"
 :paredit/splice "M-h"
 :paredit/split "M-l"
 :paredit/wrap-list "M-p"
 :paredit/wrap-map "M-c"
 :paredit/wrap-vector "M-s"
 ;; note: portal middleware overrides the print hook:
 :print-hook dev.hooks/pprint-values
 :prompt dev.full-width-prompt/prompt
 :warn-on-reflection true}
