{:bracket-pairs true
 :doc-at-cursor "M-d"
 :eval-form-at-cursor "M-e"
 :history :project
 :inspect "M-i"
 :keybindings dev.keybindings/install
 :middleware [dev.timing/middleware dev.heap/middleware]
 :print-hook dev.hooks/pprint-values
 :prompt dev.full-width-prompt/prompt
 :warn-on-reflection true}
