.calva/mcp-server/port
.calva/output-window
.calva/repl.calva-repl
.clj-kondo/.cache
.cljconf/org.clojure/clojure-cli.repl/clojuredocs-export.json
.cljconf/org.clojure/clojure-cli.repl/history
.cpcache
.lsp/.cache
.nrepl-port
.portal/vs-code.edn
.rebel_readline_history
clj.cp
outdated.txt
tools/tools.edn
